{% extends "img_app/basic.html"%}

{% block title %}Изменение изображения{% endblock %}


{% block content %}
    <div>
        <a href="{% url 'img_app:index' %}">Назад к списку</a>
    </div>
    <h1>линк изображения</h1>
    <div>
        <div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Отправить">
            </form>
        </div>

        <div>
          <h2>todo: добавить вывод введенного img в оригинальном размере.</h2>
            % for dd in data %}
        <p><a href="#">{{ dd.image_loc }}</a></p>
        <img src="{{ dd.image_loc }}">
    {% endfor %}
        </div>

    </div>
{% endblock %}